In [1]:
import pandas as pd

In [6]:
df = pd.read_csv('data/baskin.csv')

In [7]:
df

      Unnamed: 0                       Unnamed: 1
0            NaN                             강남역사
1            NaN               서울 서초구 강남대로 지하 390
2            NaN                              NaN
3            NaN                              NaN
4            NaN                             강남중앙
...          ...                              ...
1205         NaN                   서울 강서구 공항대로 34
1206         NaN                              NaN
1207         NaN                              NaN
1208         NaN                              방화역
1209         NaN  서울 강서구 금낭화로 146 (방화동, 오피앙) 108호

[1210 rows x 2 columns]

In [13]:
df_baskin = pd.DataFrame(columns=['주소'])

In [14]:
items = []
for row in df.iterrows():
    address = row[1]['Unnamed: 1']
    try:
        if '서울 ' in address:
            items.append({'주소':address})
    except:
        pass

In [16]:
len(items)

297

In [17]:
df_baskin = df_baskin.append(items)

In [20]:
df_baskin.to_csv('data/베스킨라빈스.csv', index=False)